/**
 * 侧边栏样式
 */
@use '../variables.scss' as *;

.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: $sidebar-width !important;
  height: 100%;
  overflow: hidden;
  font-size: 0;
  background-color: $sidebar-bg-color;
  transition: width $transition-duration;

  // Logo
  .sidebar-logo-container {
    position: relative;
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    overflow: hidden;
    background-color: darken($sidebar-bg-color, 3%);

    .sidebar-logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .sidebar-logo {
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }

      .sidebar-title {
        display: inline-block;
        margin-left: 12px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: $header-height;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.collapse {
      .sidebar-logo {
        margin-right: 0;
      }

      .sidebar-title {
        display: none;
      }
    }
  }

  // 滚动条
  .el-scrollbar {
    height: calc(100% - #{$header-height});
  }

  // 菜单
  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
    background-color: $sidebar-bg-color;

    // 一级菜单项
    .el-menu-item,
    .el-sub-menu__title {
      height: $menu-item-height;
      line-height: $menu-item-height;
      color: $sidebar-text-color;
      font-size: 14px;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;

      .svg-icon,
      .el-icon {
        margin-right: 16px;
        font-size: 18px;
        color: $sidebar-text-color;
      }

      &:hover {
        background-color: lighten($sidebar-bg-color, 5%) !important;
      }
    }

    // 选中状态
    .el-menu-item.is-active {
      color: $sidebar-active-text-color !important;
      background-color: lighten($sidebar-bg-color, 5%) !important;

      .svg-icon,
      .el-icon {
        color: $sidebar-active-text-color;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background-color: $primary-color;
      }
    }

    // 子菜单
    .el-sub-menu {
      .el-sub-menu__title {
        &:hover {
          background-color: lighten($sidebar-bg-color, 5%) !important;
        }

        .el-sub-menu__icon-arrow {
          color: $sidebar-text-color;
          font-size: 12px;
        }
      }

      &.is-active {
        > .el-sub-menu__title {
          color: #fff !important;
        }
      }

      // 子菜单弹出层
      .el-menu {
        .el-menu-item {
          min-width: 180px !important;
          padding-left: 50px !important;
          height: $submenu-item-height;
          line-height: $submenu-item-height;
          background-color: darken($sidebar-bg-color, 3%) !important;

          &:hover {
            background-color: $sidebar-bg-color !important;
          }

          &.is-active {
            background-color: $sidebar-bg-color !important;
            color: $sidebar-active-text-color !important;
          }
        }
      }
    }

    // 嵌套子菜单
    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .nest-menu .el-menu-item {
      min-width: 180px !important;
    }
  }

  // 折叠状态
  &.is-collapse {
    width: $sidebar-collapsed-width !important;

    .el-menu--collapse {
      width: $sidebar-collapsed-width;

      .el-sub-menu {
        overflow: hidden;

        > .el-sub-menu__title {
          padding: 0 20px !important;

          span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }

          .el-sub-menu__icon-arrow {
            display: none;
          }
        }
      }

      .el-menu-item {
        padding: 0 20px !important;
      }
    }
  }
}

// 移动端
.mobile {
  .sidebar-container {
    position: fixed;
    top: 0;
    transition: transform $transition-duration;

    &.hide-sidebar {
      transform: translate3d(-$sidebar-width, 0, 0);
    }
  }
}

// 遮罩
.drawer-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
